@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 6px;
  scrollbar-height: 6px;
  scrollbar-color: #221127 #8c8c8c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #8c8c8c;
}

*::-webkit-scrollbar-thumb {
  background-color: #221127;
  border-radius: 10px;
  border: 3px none #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
